@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&family=Montserrat:wght@400;700&family=Rubik:ital,wght@0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.main {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ca6a7616-0acb-4bc5-be25-c4deef0419a7/c5af601a-6657-4531-8f82-22e629a3795e/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.main .box {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

nav {
  max-width: 70vw;
  height: 62px;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-center-img {
  display: flex;
  align-items: center;
}

nav img {
  width: 140px;
  height: 40px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}



@media screen and (max-width: 800px) {

  nav img {
    width: 80px;
    margin-left: -18px;
  }

}


.hero {
  height: calc(100% - 62px - 1rem);
  font-family: "Martel Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
  padding: 0 4rem;
  gap: 23px;
}

.hero> :nth-child(1) {
  /* .hero :first-child{ */
  font-weight: 700;
  font-size: 3rem;
}

.hero> :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
}

.hero> :nth-child(3) {
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .hero> :nth-child(1) {
    font-size: 2.5rem;
  }
}


.sepration {
  height: 7px;
  background-color: rgb(66, 64, 64);
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-btn :nth-child(1) {
  width: 91px;
  height: 31px;
  color: white;
  background-color: #0000001a;
  border: 1.5px solid #797171;
  border-radius: 4px;
  font-size: 15px;
}

.nav-btn :nth-child(2) {
  background: rgb(193, 17, 25);
  border: 1px solid rgb(193, 17, 25);
  border-radius: 4px;
  width: 70px;
  height: 2rem;
  color: white;
  font-size: 15px;
}


@media screen and (max-width:800px) {
  nav {
    gap: 76px;
  }

  .nav-btn :nth-child(1) {
    width: 70px;
    font-size: 12px;
  }

  .nav-btn :nth-child(2) {
    width: 70px;
    font-size: 12px;
  }
}


.email-getstart-input-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.email-getstart-input-style :nth-child(1) {
  padding: 1rem 5rem 1rem 1rem;
  font-size: 17px;
  background-color: #a1999900;
  color: white;
  border-radius: 5px;
  border: 1px solid #685c5c;
}


.email-getstart-input-style :nth-child(2) {
  background-color: red;
  border: none;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 800px) {
  .email-getstart-input-style {
    flex-wrap: wrap;
  }

}


.second-part-img {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: auto;
}

.second-part-img .second-video {
  width: 100%;
  height: 100%;
  max-width: 62%;
  max-height: 65%;
  position: absolute;
  top: -1%;
  left: 19%;
  overflow: hidden;
}



.img-video-collapse {
  width: 70vw;
  position: relative;
}

.img-video-collapse img {

  width: 100%;
  position: relative;
  z-index: 1;
}

.img-video-collapse video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 62%;
  max-width: 86%;
  position: absolute;
  top: 21%;
  left: 13%;


}

.text-img-video-collapse {
  display: flex;
  gap: 23px;
  flex-direction: column;
}

.text-img-video-collapse :nth-child(1) {
  font-size: 44px;
  font-weight: 900;
  font-family: "poppins", sans-serif;
}

.text-img-video-collapse :nth-child(2) {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {

  .second-part-img {

    max-width: 90vw;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }
}

  @media screen and (max-width: 960px) {

    .second-part-img {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .text-img-video-collapse {
      padding: 1rem 0;
    }

    .second-part-img .text-img-video-collapse :nth-child(1) {
      font-size: 32px;
    }
    .second-part-img .text-img-video-collapse :nth-child(2) {
      font-size: 18px;
    }
  }


  .faq {
    padding: 2rem;
    color: white;
  }

  .faq h2 {
    text-align: center;
    font-size: 48px;
  }

  .faqcontainer {
    padding: 1rem;
    margin: 23px;
  }

  .faqboxes {
    background-color: rgb(45, 45, 45);
    max-width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: auto;
    font-size: 23px;


  }


  .faqboxes:hover {

    background-color: rgb(112, 109, 109);
    transition: all 1s ease-out;
    ;


  }


  .faqbox1,
  .faqbox2,
  .faqbox3,
  .faqbox4,
  .faqbox5,
  .faqbox6,
  .faqbox7 {
    margin: 10px;
  }

  .hero .before-footer {
    font-size: 20px;
  }

  .before-footer-container {
    padding: 2rem;
    padding-bottom: 4rem;
  }


  footer {
    width: 70vw;
    margin: auto;
    padding: 3rem 0;
  }

  footer .ph-number {
    color: rgb(170, 163, 163);
  }


  .list-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 2rem 0;

  }

  .list-item-container .list-items {

    list-style: none;
    /* border:2px solid rgb(218, 205, 205); */
  }

  .list-item-container .list-items a {
    color: rgb(170, 163, 163);
    font-size: 14px;

  }

  footer .netflix-pills {
    padding-top: 1rem;
  }

  footer> :last-child {
    color: rgb(170, 163, 163);
  }

@media screen and (max-width: 800px) {
  .list-item-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* padding: 2rem 0; */

  }
}

